Assembly-CSharp-Editor-vs.csproj
Assembly-CSharp-Editor.csproj
Assembly-CSharp-vs.csproj
Assembly-CSharp.csproj
DELETE_VIRUS-csharp.sln
DELETE_VIRUS.sln
Assembly-CSharp-firstpass-vs.csproj
Assembly-CSharp-firstpass.csproj
*.csproj


# UNITY #
gameChat/Library
gameChat/obj
gameChat/Temp
gameChat/AssetBundles
Library/PackageCache/com.unity.2d.animation@5.0.9/Editor/Icons/Light/Sprite Library@8x.png
Library/Artifacts/00/00342a1f96d4b2d1af4890865196315e
